@font-face {
  font-family: 'icomoon';
  src:  url('./scss/fonts/icomoon.eot?m9fcm6');
  src:  url('./scss/fonts/icomoon.eot?m9fcm6#iefix') format('embedded-opentype'),
    url('./scss/fonts/icomoon.ttf?m9fcm6') format('truetype'),
    url('./scss/fonts/icomoon.woff?m9fcm6') format('woff'),
    url('./scss/fonts/icomoon.svg?m9fcm6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zh-icon-add:before {
  content: "\e91b";
}
.zh-icon-shopcaradd:before {
  content: "\e900";
}
.zh-icon-up:before {
  content: "\e908";
}
.zh-icon-sound:before {
  content: "\e909";
}
.zh-icon-time:before {
  content: "\e90a";
}
.zh-icon-address:before {
  content: "\e90b";
}
.zh-icon-refresh:before {
  content: "\e90c";
}
.zh-icon-search:before {
  content: "\e90d";
}
.zh-icon-tip:before {
  content: "\e90e";
}
.zh-icon-compelete:before {
  content: "\e90f";
}
.zh-icon-order:before {
  content: "\e910";
}
.zh-icon-fangkui:before {
  content: "\e911";
}
.zh-icon-redmoney:before {
  content: "\e912";
}
.zh-icon-down:before {
  content: "\e913";
}
.zh-icon-right:before {
  content: "\e914";
}
.zh-icon-left:before {
  content: "\e915";
}
.zh-icon-eye:before {
  content: "\e916";
}
.zh-icon-feedback:before {
  content: "\e917";
}
.zh-icon-voice:before {
  content: "\e918";
}
.zh-icon-creame:before {
  content: "\e919";
}
.zh-icon-correct:before {
  content: "\e91a";
}
.zh-icon-divide:before {
  content: "\e901";
}
.zh-icon-compass:before {
  content: "\e902";
}
.zh-icon-home:before {
  content: "\e903";
}
.zh-icon-shopcar:before {
  content: "\e904";
}
.zh-icon-scan:before {
  content: "\e905";
}
.zh-icon-set:before {
  content: "\e906";
}
.zh-icon-msg:before {
  content: "\e907";
}
